@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  margin-bottom: 25px;
}

/* header 1 */

.author-name a {
  margin-left: 5px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.logo img {
  height: 25px;
  width: 25px;
  margin-top: 25px;
  margin-left: 20px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover {
  color: gray;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 50;
  color: white;
  border: 1px solid white;
  border-radius: 40px 40px;
  cursor: pointer;
}

.menu:hover {
  color: gray;
  border: 1px solid gray;
  border-radius: 40px 40px;
  cursor: pointer;
  transition: 0.5s;
}

li {
  list-style-type: none;
  display: inline-block;
}

/* header 2 */

.header p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 50;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  word-spacing: -2px;
  margin-right: 20px;
}

.header p {
  margin-bottom: 20px;
}

/* intro */

.intro p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 50;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.intro h1 {
  font-size: 26px;
  font-weight: 100;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.img2 {
  margin-left: 20px;
  margin-right: 20px;
}

.img2 img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
}

/* footer */

.footer {
  margin-top: 50px;
}

.footer p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 50;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 50;
}

.footer h2 {
  color: white;
  font-weight: bold;
}

.img3 img {
  width: 24px;
  height: 24px;
  margin: 10px;
  border-radius: 5px;
}

.img3 a:hover {
  opacity: 50%;
}

/* Zoom Image */

@media screen and (max-width: 2000px) {
  .zoom {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .zoom {
    width: 330px;
    height: auto;
  }
}

.zoom {
  padding: 5px;
  background-color: transparent;
  transition: transform 0.5s;
  margin: 10px;
  border-radius: 10px;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  border-radius: 10px;
}

/* about header */

.header-nav-content p {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 50;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav-content h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  word-spacing: -2px;
  margin-right: 20px;
}

/* button gradient */

.btn-grad {
  background-image: linear-gradient(to right,
      #CC00FF 0%,
      #c79bff 51%,
      #8321FF 100%);
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  display: block;
  border: 1px solid black;
  font-size: small;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

/* head showcase */

.header-nav-showcase {
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* header case study */

.header-case h1 {
  margin-top: 80px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  word-spacing: -2px;
  margin-right: 20px;
}

.header-case h6 {
  font-size: 15px;
  font-weight: 50;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

/* case study label */

.img1 h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.img1 a {
  color: white;
  text-decoration: none;
}

/* case buttons */

.case-button {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/* case header full */

.header-full {
  margin-bottom: 50px;
}

.header-full img {
  width: 80%;
  height: 80%;
}

/* slide down */

@-webkit-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@-o-keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slide {
  0% {
    transform: translate(0px, 100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.slide {
  animation-name: slide;
  animation-duration: 1.5s;
}

/* Scroll */

.container {
  max-width: 1280px;
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  height: 50vh;
}

.scroll-container {
  height: 100%;
  min-height: 330px;
  min-width: 330px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.scroll-container img {
  min-height: 330px;
  min-width: 330px;
}

.scroll-container h1 {
  color: white;
}

.scroll-container span {
  color: white;
  font-size: 16px;
  font-weight: 50;
}

.scroll-container:nth-of-type(1) {
  background-color: transparent;
}

.scroll-container:nth-of-type(2) {
  background-color: transparent;
}

.scroll-container:nth-of-type(3) {
  background-color: transparent;
}

.scroll-container:nth-of-type(4) {
  background-color: transparent;
}

.scroll-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  height: 100%;
  min-height: 330px;
  min-width: 330px;
  background-color: transparent;
}

.scroll-caption {
  margin: 1rem;
}

@media screen and (max-width: 650px) {

  .scroll-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: column;
    align-content: inherit;
  }

  .scroll-element {
    height: 100%;
  }

  .scroll-element,
  .scroll-caption {
    width: 100%;
  }
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* hr */

hr {
  margin-left: 20px;
  margin-right: 20px;
}

/* design */

.design {
  margin-left: 20px;
  margin-right: 20px;
}

.design-img {
  margin: 20px;
}

.design-img img {
  width: 60px;
  height: 60px;
}

.see-more:hover {
  opacity: 25%;
}